<div class="campaign pure-g">
        <div class="pure-u-1-1">
            <a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-red-left.png"> </a>
                <a href="http://cirillocompany.de/pages/anti-if">
                    <img height="60" width="120"
                    style="border: 0; position: fixed; bottom: 0; right:0; z-index: 9000"
                    src="http://cdn.shopify.com/s/files/1/0257/1675/t/147/assets/banner_my-team-has-joined.gif"
                    alt="My team has joined Anti-IF Campaign"></a>
            </div>
    </div>